.candy-cancel-modal {
    display: flex;
    font-size: 16px;
    line-height: 24px;
}
.candy-cancel-modal-thumbnail {
    width: 340px;
    height: 340px;
    margin-right: 24px;
}
.candy-cancel-modal-thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
@media only screen and (max-width: 600px) {
    .candy-cancel-modal-thumbnail {
        width: 240px;
        height: 240px;
        margin-right: 12px;
    }
    .candy-cancel-modal-thumbnail img {
        border-radius: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .candy-cancel-modal-thumbnail {
        width: 160px;
        height: 160px;
    }
}
.candy-cancel-modal-container {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    .candy-cancel-modal-container {
        padding-top: 0;
    }
}
.candy-cancel-modal-title {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}
.candy-cancel-modal-control {
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 20px 0 25px;
}
@media only screen and (max-width: 600px) {
    .candy-cancel-modal-control {
        margin: 12px 0;
    }
}
.candy-cancel-modal button.candy-cancel-modal-button {
    padding: 8px 50px;
    border-radius: 32px;
    height: unset;
    font-size: 16px;
}
@media only screen and (max-width: 600px) {
    .candy-cancel-modal button.candy-cancel-modal-button {
        padding: 4px 50px;
    }
}
.candy-cancel-modal-confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .candy-cancel-modal-confirm-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.candy-cancel-modal-confirm-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 42px;
    text-align: center;
}
.candy-cancel-modal-confirm-content {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
}
.candy-cancel-modal-confirm-content-img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.candy-cancel-modal-confirm-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.candy-cancel-modal-confirm-content-text {
    align-self: flex-start;
    flex: 1;
    font-size: 24px;
    line-height: 34px;
}
.candy-cancel-modal-confirm-success {
    width: 100%;
}
.candy-cancel-modal-confirm-success .candy-button {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}
