.candy-order {
    height: 100%;
    background-color: #120c18;
    position: relative;
}
.candy-order .candy-order-info {
    padding: 12px;
    text-align: left;
    color: white;
}
.candy-order .candy-order-name {
    color: white;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
}
.candy-order .candy-order-ticker {
    color: #757575;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    min-height: 20px;
}
.candy-order .candy-order-price {
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 6px;
}
