.candy-modal {
    padding-bottom: 20px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
}
.candy-modal-content {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    max-width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 16px;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: 0 3px 6px -4px #000000, 0 6px 16px 0 #000000, 0 9px 28px 8px #000000;
}
.candy-modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
}
.candy-modal-close-btn .close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: 0.2s all ease-in-out;
}
.candy-modal-close-btn .close:hover {
    opacity: 1;
    cursor: pointer;
}
.candy-modal-close-btn .close:before, .candy-modal-close-btn .close:after {
    position: absolute;
    top: 5px;
    left: 15px;
    content: ' ';
    height: 22px;
    width: 3px;
    background-color: #333;
}
.candy-modal-close-btn .close:before {
    transform: rotate(45deg);
}
.candy-modal-close-btn .close:after {
    transform: rotate(-45deg);
}
